Data_Structures/IFX/Schemas/IFX170_BankSvc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:ifxforum-org:XSD:1" targetNamespace="urn:ifxforum-org:XSD:1" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="IFX170_CoreLib.xsd"/>
	<xsd:include schemaLocation="IFX170_AcctLib.xsd"/>
	<xsd:include schemaLocation="IFX170_ChkLib.xsd"/>
	<xsd:include schemaLocation="IFX170_XferLib.xsd"/>
	<xsd:include schemaLocation="IFX170_DebitLib.xsd"/>
	<xsd:include schemaLocation="IFX170_CreditLib.xsd"/>
	<xsd:include schemaLocation="IFX170_ForExLib.xsd"/>
	<xsd:include schemaLocation="IFX170_DepBkOrdLib.xsd"/>
	<xsd:include schemaLocation="IFX170_PmtLib.xsd"/>
	<xsd:include schemaLocation="IFX170_BankSvcChkSumLib.xsd"/>
	<xsd:complexType name="BankSvcRq_Type">
		<xsd:sequence>
			<xsd:element ref="RqUID"/>
			<xsd:element ref="AsyncRqUID" minOccurs="0"/>
			<xsd:element ref="SPName" minOccurs="0"/>
			<xsd:sequence maxOccurs="unbounded">
				<xsd:element ref="BalInqRq" minOccurs="0"/>
				<xsd:element ref="BalRevRq" minOccurs="0"/>
				<xsd:element ref="AcctInqRq" minOccurs="0"/>
				<xsd:element ref="AcctRevRq" minOccurs="0"/>
				<xsd:element ref="DepAcctStmtInqRq" minOccurs="0"/>
				<xsd:element ref="DepAcctStmtRevRq" minOccurs="0"/>
				<xsd:element ref="CCAcctStmtInqRq" minOccurs="0"/>
				<xsd:element ref="CCAcctStmtRevRq" minOccurs="0"/>
				<xsd:element ref="DepAcctTrnInqRq" minOccurs="0"/>
				<xsd:element ref="DepAcctTrnRevRq" minOccurs="0"/>
				<xsd:element ref="DepAcctTrnAdviseRq" minOccurs="0"/>
				<xsd:element ref="CCAcctTrnInqRq" minOccurs="0"/>
				<xsd:element ref="CCAcctTrnRevRq" minOccurs="0"/>
				<xsd:element ref="BankAcctTrnImgInqRq" minOccurs="0"/>
				<xsd:element ref="BankAcctTrnImgRevRq" minOccurs="0"/>
				<xsd:element ref="IntRateInqRq" minOccurs="0"/>
				<xsd:element ref="IntRateRevRq" minOccurs="0"/>
				<xsd:element ref="BankAcctTaxInqRq" minOccurs="0"/>
				<xsd:element ref="ForExRateInqRq" minOccurs="0"/>
				<xsd:element ref="ForExRateRevRq" minOccurs="0"/>
				<xsd:element ref="ForExDealAddRq" minOccurs="0"/>
				<xsd:element ref="ForExDealModRq" minOccurs="0"/>
				<xsd:element ref="ForExDealInqRq" minOccurs="0"/>
				<xsd:element ref="ForExDealCanRq" minOccurs="0"/>
				<xsd:element ref="ForExDealAudRq" minOccurs="0"/>
				<xsd:element ref="ForExDealSyncRq" minOccurs="0"/>
				<xsd:element ref="ForExDealRevRq" minOccurs="0"/>
				<xsd:element ref="ForExDealStatusModRq" minOccurs="0"/>
				<xsd:element ref="ForExDealStatusInqRq" minOccurs="0"/>
				<xsd:element ref="ForExDealAdviseRq" minOccurs="0"/>
				<xsd:element ref="StopChkAddRq" minOccurs="0"/>
				<xsd:element ref="StopChkAdviseRq" minOccurs="0"/>
				<xsd:element ref="StopChkCanRq" minOccurs="0"/>
				<xsd:element ref="StopChkInqRq" minOccurs="0"/>
				<xsd:element ref="StopChkAudRq" minOccurs="0"/>
				<xsd:element ref="StopChkSyncRq" minOccurs="0"/>
				<xsd:element ref="StopChkRevRq" minOccurs="0"/>
				<xsd:element ref="XferAddRq" minOccurs="0"/>
				<xsd:element ref="XferAdviseRq" minOccurs="0"/>
				<xsd:element ref="XferModRq" minOccurs="0"/>
				<xsd:element ref="XferStatusModRq" minOccurs="0"/>
				<xsd:element ref="XferCanRq" minOccurs="0"/>
				<xsd:element ref="XferInqRq" minOccurs="0"/>
				<xsd:element ref="XferAudRq" minOccurs="0"/>
				<xsd:element ref="XferSyncRq" minOccurs="0"/>
				<xsd:element ref="XferRevRq" minOccurs="0"/>
				<xsd:element ref="RecXferAddRq" minOccurs="0"/>
				<xsd:element ref="RecXferModRq" minOccurs="0"/>
				<xsd:element ref="RecXferCanRq" minOccurs="0"/>
				<xsd:element ref="RecXferInqRq" minOccurs="0"/>
				<xsd:element ref="RecXferAudRq" minOccurs="0"/>
				<xsd:element ref="RecXferSyncRq" minOccurs="0"/>
				<xsd:element ref="RecXferRevRq" minOccurs="0"/>
				<xsd:element ref="ChkOrdAddRq" minOccurs="0"/>
				<xsd:element ref="ChkOrdAdviseRq" minOccurs="0"/>
				<xsd:element ref="ChkOrdModRq" minOccurs="0"/>
				<xsd:element ref="ChkOrdCanRq" minOccurs="0"/>
				<xsd:element ref="ChkOrdInqRq" minOccurs="0"/>
				<xsd:element ref="ChkOrdAudRq" minOccurs="0"/>
				<xsd:element ref="ChkOrdSyncRq" minOccurs="0"/>
				<xsd:element ref="ChkOrdRevRq" minOccurs="0"/>
				<xsd:element ref="RecChkOrdAddRq" minOccurs="0"/>
				<xsd:element ref="RecChkOrdModRq" minOccurs="0"/>
				<xsd:element ref="RecChkOrdCanRq" minOccurs="0"/>
				<xsd:element ref="RecChkOrdInqRq" minOccurs="0"/>
				<xsd:element ref="RecChkOrdAudRq" minOccurs="0"/>
				<xsd:element ref="RecChkOrdSyncRq" minOccurs="0"/>
				<xsd:element ref="RecChkOrdInstAddRq" minOccurs="0"/>
				<xsd:element ref="DepBkOrdAddRq" minOccurs="0"/>
				<xsd:element ref="DepBkOrdAdviseRq" minOccurs="0"/>
				<xsd:element ref="DepBkOrdRevRq" minOccurs="0"/>
				<xsd:element ref="DebitAuthAddRq" minOccurs="0"/>
				<xsd:element ref="DebitAuthModRq" minOccurs="0"/>
				<xsd:element ref="DebitAuthCanRq" minOccurs="0"/>
				<xsd:element ref="DebitAuthInqRq" minOccurs="0"/>
				<xsd:element ref="DebitAuthAudRq" minOccurs="0"/>
				<xsd:element ref="DebitAuthSyncRq" minOccurs="0"/>
				<xsd:element ref="DebitAuthStatusModRq" minOccurs="0"/>
				<xsd:element ref="DebitAuthAdviseRq" minOccurs="0"/>
				<xsd:element ref="DebitAuthRevRq" minOccurs="0"/>
				<xsd:element ref="DebitAddRq" minOccurs="0"/>
				<xsd:element ref="DebitModRq" minOccurs="0"/>
				<xsd:element ref="DebitCanRq" minOccurs="0"/>
				<xsd:element ref="DebitInqRq" minOccurs="0"/>
				<xsd:element ref="DebitAudRq" minOccurs="0"/>
				<xsd:element ref="DebitSyncRq" minOccurs="0"/>
				<xsd:element ref="DebitStatusModRq" minOccurs="0"/>
				<xsd:element ref="DebitAdviseRq" minOccurs="0"/>
				<xsd:element ref="DebitRevRq" minOccurs="0"/>
				<xsd:element ref="CreditAuthAddRq" minOccurs="0"/>
				<xsd:element ref="CreditAuthAdviseRq" minOccurs="0"/>
				<xsd:element ref="CreditAuthModRq" minOccurs="0"/>
				<xsd:element ref="CreditAuthCanRq" minOccurs="0"/>
				<xsd:element ref="CreditAuthInqRq" minOccurs="0"/>
				<xsd:element ref="CreditAuthAudRq" minOccurs="0"/>
				<xsd:element ref="CreditAuthSyncRq" minOccurs="0"/>
				<xsd:element ref="CreditAuthRevRq" minOccurs="0"/>
				<xsd:element ref="CreditAuthStatusModRq" minOccurs="0"/>
				<xsd:element ref="CreditAddRq" minOccurs="0"/>
				<xsd:element ref="CreditModRq" minOccurs="0"/>
				<xsd:element ref="CreditCanRq" minOccurs="0"/>
				<xsd:element ref="CreditInqRq" minOccurs="0"/>
				<xsd:element ref="CreditAudRq" minOccurs="0"/>
				<xsd:element ref="CreditSyncRq" minOccurs="0"/>
				<xsd:element ref="CreditAdviseRq" minOccurs="0"/>
				<xsd:element ref="CreditStatusModRq" minOccurs="0"/>
				<xsd:element ref="CreditRevRq" minOccurs="0"/>
				<xsd:element ref="DepAppAddRq" minOccurs="0"/>
				<xsd:element ref="DepAppModRq" minOccurs="0"/>
				<xsd:element ref="DepAppCanRq" minOccurs="0"/>
				<xsd:element ref="DepAppInqRq" minOccurs="0"/>
				<xsd:element ref="DepAppAudRq" minOccurs="0"/>
				<xsd:element ref="DepAppSyncRq" minOccurs="0"/>
				<xsd:element ref="DepAcctStmtAdviseRq" minOccurs="0"/>
				<xsd:element ref="BankAcctStmtImgInqRq" minOccurs="0"/>
				<xsd:element ref="BankAcctStmtImgRevRq" minOccurs="0"/>
				<xsd:element ref="PmtEnclAddRq" minOccurs="0"/>
				<xsd:element ref="PmtEnclAdviseRq" minOccurs="0"/>
				<xsd:element ref="PmtEnclModRq" minOccurs="0"/>
				<xsd:element ref="PmtEnclInqRq" minOccurs="0"/>
				<xsd:element ref="PmtEnclCanRq" minOccurs="0"/>
				<xsd:element ref="PmtEnclAudRq" minOccurs="0"/>
				<xsd:element ref="PmtEnclRevRq" minOccurs="0"/>
				<xsd:element ref="PmtEnclStatusModRq" minOccurs="0"/>
				<xsd:element ref="ChkIssueAddRq" minOccurs="0"/>
				<xsd:element ref="ChkIssueAdviseRq" minOccurs="0"/>
				<xsd:element ref="ChkIssueModRq" minOccurs="0"/>
				<xsd:element ref="ChkIssueStatusModRq" minOccurs="0"/>
				<xsd:element ref="ChkIssueDelRq" minOccurs="0"/>
				<xsd:element ref="ChkIssueInqRq" minOccurs="0"/>
				<xsd:element ref="ChkIssueAudRq" minOccurs="0"/>
				<xsd:element ref="ChkIssueSyncRq" minOccurs="0"/>
				<xsd:element ref="BankSvcChkSumAddRq" minOccurs="0"/>
				<xsd:element ref="BankSvcChkSumModRq" minOccurs="0"/>
				<xsd:element ref="BankSvcChkSumStatusModRq" minOccurs="0"/>
				<xsd:element ref="BankSvcChkSumDelRq" minOccurs="0"/>
				<xsd:element ref="BankSvcChkSumInqRq" minOccurs="0"/>
				<xsd:element ref="BankSvcChkSumAudRq" minOccurs="0"/>
				<xsd:element ref="BankSvcChkSumSyncRq" minOccurs="0"/>
				<xsd:element ref="ChkAcceptAddRq" minOccurs="0"/>
				<xsd:element ref="ChkAcceptModRq" minOccurs="0"/>
				<xsd:element ref="ChkAcceptInqRq" minOccurs="0"/>
				<xsd:element ref="ChkAcceptCanRq" minOccurs="0"/>
				<xsd:element ref="ChkAcceptAudRq" minOccurs="0"/>
				<xsd:element ref="ChkAcceptSyncRq" minOccurs="0"/>
				<xsd:element ref="ChkAcceptRevRq" minOccurs="0"/>
				<xsd:element ref="ChkAcceptStatusModRq" minOccurs="0"/>
			</xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="Id" type="xsd:ID"/>
	</xsd:complexType>
	<xsd:complexType name="BankSvcRs_Type">
		<xsd:sequence>
			<xsd:element ref="Status" minOccurs="0"/>
			<xsd:element ref="RqUID"/>
			<xsd:element ref="AsyncRqUID" minOccurs="0"/>
			<xsd:element ref="SPName" minOccurs="0"/>
			<xsd:sequence maxOccurs="unbounded">
				<xsd:element ref="BalInqRs" minOccurs="0"/>
				<xsd:element ref="BalRevRs" minOccurs="0"/>
				<xsd:element ref="AcctInqRs" minOccurs="0"/>
				<xsd:element ref="AcctRevRs" minOccurs="0"/>
				<xsd:element ref="DepAcctStmtInqRs" minOccurs="0"/>
				<xsd:element ref="DepAcctStmtRevRs" minOccurs="0"/>
				<xsd:element ref="CCAcctStmtInqRs" minOccurs="0"/>
				<xsd:element ref="CCAcctStmtRevRs" minOccurs="0"/>
				<xsd:element ref="DepAcctTrnInqRs" minOccurs="0"/>
				<xsd:element ref="DepAcctTrnRevRs" minOccurs="0"/>
				<xsd:element ref="DepAcctTrnAdviseRs" minOccurs="0"/>
				<xsd:element ref="CCAcctTrnInqRs" minOccurs="0"/>
				<xsd:element ref="CCAcctTrnRevRs" minOccurs="0"/>
				<xsd:element ref="BankAcctTrnImgInqRs" minOccurs="0"/>
				<xsd:element ref="BankAcctTrnImgRevRs" minOccurs="0"/>
				<xsd:element ref="IntRateInqRs" minOccurs="0"/>
				<xsd:element ref="IntRateRevRs" minOccurs="0"/>
				<xsd:element ref="BankAcctTaxInqRs" minOccurs="0"/>
				<xsd:element ref="ForExRateInqRs" minOccurs="0"/>
				<xsd:element ref="ForExRateRevRs" minOccurs="0"/>
				<xsd:element ref="ForExDealAddRs" minOccurs="0"/>
				<xsd:element ref="ForExDealModRs" minOccurs="0"/>
				<xsd:element ref="ForExDealInqRs" minOccurs="0"/>
				<xsd:element ref="ForExDealCanRs" minOccurs="0"/>
				<xsd:element ref="ForExDealAudRs" minOccurs="0"/>
				<xsd:element ref="ForExDealSyncRs" minOccurs="0"/>
				<xsd:element ref="ForExDealRevRs" minOccurs="0"/>
				<xsd:element ref="ForExDealStatusModRs" minOccurs="0"/>
				<xsd:element ref="ForExDealStatusInqRs" minOccurs="0"/>
				<xsd:element ref="ForExDealAdviseRs" minOccurs="0"/>
				<xsd:element ref="StopChkAddRs" minOccurs="0"/>
				<xsd:element ref="StopChkAdviseRs" minOccurs="0"/>
				<xsd:element ref="StopChkCanRs" minOccurs="0"/>
				<xsd:element ref="StopChkInqRs" minOccurs="0"/>
				<xsd:element ref="StopChkAudRs" minOccurs="0"/>
				<xsd:element ref="StopChkSyncRs" minOccurs="0"/>
				<xsd:element ref="StopChkRevRs" minOccurs="0"/>
				<xsd:element ref="XferAddRs" minOccurs="0"/>
				<xsd:element ref="XferAdviseRs" minOccurs="0"/>
				<xsd:element ref="XferModRs" minOccurs="0"/>
				<xsd:element ref="XferStatusModRs" minOccurs="0"/>
				<xsd:element ref="XferCanRs" minOccurs="0"/>
				<xsd:element ref="XferInqRs" minOccurs="0"/>
				<xsd:element ref="XferAudRs" minOccurs="0"/>
				<xsd:element ref="XferSyncRs" minOccurs="0"/>
				<xsd:element ref="XferRevRs" minOccurs="0"/>
				<xsd:element ref="RecXferAddRs" minOccurs="0"/>
				<xsd:element ref="RecXferModRs" minOccurs="0"/>
				<xsd:element ref="RecXferCanRs" minOccurs="0"/>
				<xsd:element ref="RecXferInqRs" minOccurs="0"/>
				<xsd:element ref="RecXferAudRs" minOccurs="0"/>
				<xsd:element ref="RecXferSyncRs" minOccurs="0"/>
				<xsd:element ref="RecXferRevRs" minOccurs="0"/>
				<xsd:element ref="ChkOrdAddRs" minOccurs="0"/>
				<xsd:element ref="ChkOrdAdviseRs" minOccurs="0"/>
				<xsd:element ref="ChkOrdModRs" minOccurs="0"/>
				<xsd:element ref="ChkOrdCanRs" minOccurs="0"/>
				<xsd:element ref="ChkOrdInqRs" minOccurs="0"/>
				<xsd:element ref="ChkOrdAudRs" minOccurs="0"/>
				<xsd:element ref="ChkOrdSyncRs" minOccurs="0"/>
				<xsd:element ref="ChkOrdRevRs" minOccurs="0"/>
				<xsd:element ref="RecChkOrdAddRs" minOccurs="0"/>
				<xsd:element ref="RecChkOrdModRs" minOccurs="0"/>
				<xsd:element ref="RecChkOrdCanRs" minOccurs="0"/>
				<xsd:element ref="RecChkOrdInqRs" minOccurs="0"/>
				<xsd:element ref="RecChkOrdAudRs" minOccurs="0"/>
				<xsd:element ref="RecChkOrdSyncRs" minOccurs="0"/>
				<xsd:element ref="RecChkOrdInstAddRs" minOccurs="0"/>
				<xsd:element ref="DepBkOrdAddRs" minOccurs="0"/>
				<xsd:element ref="DepBkOrdAdviseRs" minOccurs="0"/>
				<xsd:element ref="DepBkOrdRevRs" minOccurs="0"/>
				<xsd:element ref="DebitAuthAddRs" minOccurs="0"/>
				<xsd:element ref="DebitAuthModRs" minOccurs="0"/>
				<xsd:element ref="DebitAuthCanRs" minOccurs="0"/>
				<xsd:element ref="DebitAuthInqRs" minOccurs="0"/>
				<xsd:element ref="DebitAuthAudRs" minOccurs="0"/>
				<xsd:element ref="DebitAuthSyncRs" minOccurs="0"/>
				<xsd:element ref="DebitAuthStatusModRs" minOccurs="0"/>
				<xsd:element ref="DebitAuthAdviseRq" minOccurs="0"/>
				<xsd:element ref="DebitAuthRevRs" minOccurs="0"/>
				<xsd:element ref="DebitAddRs" minOccurs="0"/>
				<xsd:element ref="DebitModRs" minOccurs="0"/>
				<xsd:element ref="DebitCanRs" minOccurs="0"/>
				<xsd:element ref="DebitInqRs" minOccurs="0"/>
				<xsd:element ref="DebitAudRs" minOccurs="0"/>
				<xsd:element ref="DebitSyncRs" minOccurs="0"/>
				<xsd:element ref="DebitStatusModRs" minOccurs="0"/>
				<xsd:element ref="DebitAdviseRs" minOccurs="0"/>
				<xsd:element ref="DebitRevRs" minOccurs="0"/>
				<xsd:element ref="CreditAuthAddRs" minOccurs="0"/>
				<xsd:element ref="CreditAuthAdviseRs" minOccurs="0"/>
				<xsd:element ref="CreditAuthModRs" minOccurs="0"/>
				<xsd:element ref="CreditAuthCanRs" minOccurs="0"/>
				<xsd:element ref="CreditAuthInqRs" minOccurs="0"/>
				<xsd:element ref="CreditAuthAudRs" minOccurs="0"/>
				<xsd:element ref="CreditAuthSyncRs" minOccurs="0"/>
				<xsd:element ref="CreditAuthRevRs" minOccurs="0"/>
				<xsd:element ref="CreditAuthStatusModRs" minOccurs="0"/>
				<xsd:element ref="CreditAddRs" minOccurs="0"/>
				<xsd:element ref="CreditModRs" minOccurs="0"/>
				<xsd:element ref="CreditCanRs" minOccurs="0"/>
				<xsd:element ref="CreditInqRs" minOccurs="0"/>
				<xsd:element ref="CreditAudRs" minOccurs="0"/>
				<xsd:element ref="CreditSyncRs" minOccurs="0"/>
				<xsd:element ref="CreditStatusModRs" minOccurs="0"/>
				<xsd:element ref="CreditAdviseRs" minOccurs="0"/>
				<xsd:element ref="CreditRevRs" minOccurs="0"/>
				<xsd:element ref="DepAppAddRs" minOccurs="0"/>
				<xsd:element ref="DepAppModRs" minOccurs="0"/>
				<xsd:element ref="DepAppCanRs" minOccurs="0"/>
				<xsd:element ref="DepAppInqRs" minOccurs="0"/>
				<xsd:element ref="DepAppAudRs" minOccurs="0"/>
				<xsd:element ref="DepAppSyncRs" minOccurs="0"/>
				<xsd:element ref="DepAcctStmtAdviseRs" minOccurs="0"/>
				<xsd:element ref="BankAcctStmtImgInqRs" minOccurs="0"/>
				<xsd:element ref="BankAcctStmtImgRevRs" minOccurs="0"/>
				<xsd:element ref="PmtEnclAddRs" minOccurs="0"/>
				<xsd:element ref="PmtEnclAdviseRs" minOccurs="0"/>
				<xsd:element ref="PmtEnclModRs" minOccurs="0"/>
				<xsd:element ref="PmtEnclInqRs" minOccurs="0"/>
				<xsd:element ref="PmtEnclCanRs" minOccurs="0"/>
				<xsd:element ref="PmtEnclAudRs" minOccurs="0"/>
				<xsd:element ref="PmtEnclStatusModRs" minOccurs="0"/>
				<xsd:element ref="PmtEnclRevRs" minOccurs="0"/>
				<xsd:element ref="ChkIssueAddRs" minOccurs="0"/>
				<xsd:element ref="ChkIssueModRs" minOccurs="0"/>
				<xsd:element ref="ChkIssueDelRs" minOccurs="0"/>
				<xsd:element ref="ChkIssueInqRs" minOccurs="0"/>
				<xsd:element ref="ChkIssueAudRs" minOccurs="0"/>
				<xsd:element ref="ChkIssueSyncRs" minOccurs="0"/>
				<xsd:element ref="ChkIssueAdviseRs" minOccurs="0"/>
				<xsd:element ref="BankSvcChkSumAddRs" minOccurs="0"/>
				<xsd:element ref="BankSvcChkSumModRs" minOccurs="0"/>
				<xsd:element ref="BankSvcChkSumStatusModRs" minOccurs="0"/>
				<xsd:element ref="BankSvcChkSumDelRs" minOccurs="0"/>
				<xsd:element ref="BankSvcChkSumInqRs" minOccurs="0"/>
				<xsd:element ref="BankSvcChkSumAudRs" minOccurs="0"/>
				<xsd:element ref="BankSvcChkSumSyncRs" minOccurs="0"/>
				<xsd:element ref="ChkAcceptAddRs" minOccurs="0"/>
				<xsd:element ref="ChkAcceptModRs" minOccurs="0"/>
				<xsd:element ref="ChkAcceptInqRs" minOccurs="0"/>
				<xsd:element ref="ChkAcceptCanRs" minOccurs="0"/>
				<xsd:element ref="ChkAcceptAudRs" minOccurs="0"/>
				<xsd:element ref="ChkAcceptSyncRs" minOccurs="0"/>
				<xsd:element ref="ChkAcceptRevRs" minOccurs="0"/>
				<xsd:element ref="ChkAcceptStatusModRs" minOccurs="0"/>
			</xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="Id" type="xsd:ID"/>
	</xsd:complexType>
	<xsd:element name="BankSvcRq" type="BankSvcRq_Type"/>
	<xsd:element name="BankSvcRs" type="BankSvcRs_Type"/>
</xsd:schema>
